@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 16px;
  color: #262626;
  font-family: "IBM Plex Mono", monospace;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.calc-mobile-container {
  max-width: 100%;
  padding: 0 1rem;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .calculator-component {
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .calc-mobile-container {
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    margin-left: 0;
    margin-right: 0;
  }

  .rome-metrics {
    margin-left: 0;
  }

  .calc-mobile-container > div {
    max-width: 768px;
    width: 100%;
  }
}

pre {
  color: #1f2933;
  background-color: #f5f7fa;
  margin-top: 24px;
}

pre code::before {
  padding-left: unset;
}

pre code::after {
  padding-right: unset;
}

code {
  background-color: #f5f7fa;
  color: #dd1144;
  font-weight: 400;
  border-radius: 0.25rem;
  padding: 16px;
  word-wrap: break-word;
  display: block;
  background: none;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
}

code::before {
  content: " ";
  padding-left: 0.25rem;
}
code::after {
  content: "";
  padding-right: 0.25rem;
}
