@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 16px;
  color: #262626;
  font-family: "IBM Plex Mono", monospace;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.calc-mobile-container {
  max-width: 100%;
  padding: 0 1rem;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .calculator-component {
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .calc-mobile-container {
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    margin-left: 0;
    margin-right: 0;
  }

  .rome-metrics {
    margin-left: 0;
  }

  .calc-mobile-container > div {
    max-width: 768px;
    width: 100%;
  }
}
